{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}

{% block title %}
Crowd Tracker
{% endblock %}

{% block class %}
bg-primary
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid bg-primary">
	<div class="row justify-content-center">
		<h1 class="text-white mt-5">Crowd Tracker</h1>
	</div>
	<form action="display/" method="POST" class=>
		<div class="form-group justify-content-center sticky-center">
			{% csrf_token %}

			<div class="row form-group">
				<div class="col-md-8 offset-2 form-group">
					{{createCrowdTracker.city}}
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-4 offset-2 form-group">
					{{createCrowdTracker.month}}
				</div>
				<div class="col-md-4 form-group">
					{{createCrowdTracker.year}}
				</div>
			</div>
		</div>
		<div class="row bg-primary justify-content-end sticky-bottom">
			<button class="btn btn-primary btn-outline-primary text-white mr-5" type="submit">Next >></button>
		</div>
	</form>
</div>
{% endblock %}