<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="mainbody bg-white">

	<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

		<a class="navbar-brand" href="#">Citizi</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu-bar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="Menu-bar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'mainapp:crowdTracker' %}">Crowd Tracker</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/booking/">Book Hotel</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Add Hotel</a>
				</li>
			</ul>
		</div>
	</nav>

</body>

</html>