<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
	<title>{{title}}</title>
</head>
<body>

{% include 'navbar.html' %}

<div class="container-fluid">
	<h1>{{test}}</h1>
	<p>{{paragraph}}</p>
</div>
	
</body>
</html>