{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}

{% block title %}
Citizi
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid">
	<div class="row mt-5 mb-5">
		<div class="col offset-1">
			<h1>{{city}}</h1>
			<p>{{date}}</p>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-5 offset-1">
			<table class="table table-responsive-md">
				<thead>
					<tr>
			            <th scope="col">Date</th>
			            <th scope="col">Visitor</th>
		            </tr>
				</thead>
				{% for visit in visitorList %}
				<tbody>
					<tr>
			            <td>{{visit.date.day}}</td>
	          			<td>{{visit.visitor}}</td>
		            </tr>
				</tbody>
				{% endfor %}
			</table>
		</div>
		<div class="col-md-6">
			<p>Peakest period:</p>
			<p>{{peak}}</p>
		</div>
	</div>
</div>
{% endblock %}