.jumbo-book{
    height: 50%;
}

.form-booking {
    font-size: 150%;
    color: #343F4B;
}

.form-icon {
    color: #343F4B;
    font-size: 250%;
    vertical-align: middle;
    line-height: 250%;
}

.form-label{
    font-size: 120%;;
    color: #808080;
}


.primary-button {
    margin-top: 8px;
    padding: 12px 14px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #007EFF;
    border: none;
    border-radius: 52px;
    width: 100%;
}

.button-container {
    min-width: 200px;
}

@media (max-width: 575.98px) {
    .button-container {
        min-width: 100%;
    }   
}


.down{
    height: 100% !important;
}

.back{
    text-decoration: none;
    color: white;
}

li{
    color: red;
}