{% extends 'base.html' %}
{% load static %}
{% block title %}Citizi | Add Hotel{% endblock %}
{% block style %}
<link href="{% static 'add_hotel.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <a href="{% url 'mainapp:crowdTracker' %}">
        <h3 class="d-inline">
            < Add hotel </h3> </a> <div>
                <div class="container-fluid">
                    <form method="POST" class="d-flex flex-column">

                        {% csrf_token %}

                        {{ form.hotel_name }}
                        <div class="d-flex flex-row align-items-start w-100">
                            <i class="fa fa-map-marker form-icon"></i>
                            <div class="d-flex flex-column align-items-start address w-100">
                                <p>City</p>
                                {% csrf_token %}
                                {{ form.city }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-start w-100">
                            <i class="fa fa-map form-icon"></i>
                            <div class="d-flex flex-column align-items-start address w-100">
                                <p>Address</p>
                                {% csrf_token %}
                                {{ form.address }}
                            </div>
                        </div>

                        {{ form.errors }}

                        <div class="row d-flex justify-content-end">
                            <div class="button-container col-sm-12 col-md-3">
                                <input class="primary-button" type="submit" name="submit" value="Add to database">
                            </div>
                        </div>
                    </form>
                </div>
</div>
</div>

{% endblock %}