{% extends 'base.html' %}
{% load static %}
{% block title %}Citizi | Book Hotel{% endblock %}
{% block style %}
<style>
    .hotel-card {
        color: #505050;
    }

    .hotel-card:hover {
        color: black;
        text-decoration: none;
    }

    .booking-hotel {
        display: inline-flex;
        margin: 0;
        vertical-align: middle;
        color: white;
        font-family: Raleway;
    }
</style>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid bg-primary pb-4 pt-3 pl-5 mb-4">
    <div>
        <a class="btn" style="display: inline-flex; padding: 0; margin: 0; vertical-align: top; color: white;"
            href="../" role="button">
            <b>
                <</b> </a> <h6 class="booking-hotel">
                    <b>Booking Hotel</b>
                    </h6>
    </div>
    <form method="POST" action="/booking/" style="font-family: Raleway;">
        {% csrf_token %}
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="form-group">
                    <input name="id_search" class="form-control rounded-pill" id="searchByCity"
                        placeholder="Search by City">
                </div>
            </div>
            <button class="btn btn-outline-light rounded-pill ml-3 pt-0 pb-0" type="submit"
                style="height: 40px;">Search</button>
        </div>
    </form>
</div>
<div>
    {% for hotel in hotel_by_city %}
    {% csrf_token %}
    <a class="hotel-card" href="/book_hotel/{{ hotel.id }}/">
        <div id="{{hotel.id}}" class="card ml-5 mr-5 mt-4" style="border: none;" type="button">
            <div class="card-body">
                <p>{{hotel.hotel_name}}</p>
                <div>
                    <span><img src="{% static 'Location.svg' %}" alt="Location" width="20px" height="20px"></span>
                    <span>{{hotel.address}}, {{hotel.city}}</span>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
{% endblock %}